<%= render partial: 'share/group_members_sidebar' %>

<div class="col-lg-9">
    <% @group.people.by_name.without(current_person).each do |person| %>
    <h4><%= person.name %></h4>
    <%= render(partial: 'items/item', collection: current_person.current_purchases_for(person)) || "Nothing purchased yet" %>
    <hr />
    <% end %>
</div>
