<h2>Hello <%= @invitation.recipient.name %>!</h2>

<p><%= @invitation.sender.name %> has invited you to be a part of the Christmas wish list group called "<%= @invitation.group.name %>".</p>

<p>You have automatically been added to this group. No further action is necessary.</p>

<p>Thanks!<br>
-- The Christmas List team
</p>
