<h2>Hello!</h2>

<p><%= @invitation.sender.name %> has invited you to be a part of the Christmas wish list group called "<%= @invitation.group.name %>".</p>

<p>Christmas List allows you to share your Christmas wish list with other people in the group.</p>

<p>If you would like to join in, please go to: <%= @signup_path %>. Don't worry, it's free and easy to use.</p>

<p>Thanks!<br>
-- The Christmas List team
</p>
