<p>If you're here for the first time, why don't you <%= link_to 'sign up', new_user_registration_path %>? Then you can create a group, invite
	people you know, and get cranking! Of course it's free.</p>

<p>There are currently <%= User.count %> users comprising <%= Group.count %> groups.</p>
